@import '../../../sass/gouvfr';
@import '../../../sass/variables';

.cq-btn a {
  padding: 0 1em;
}

.cq-btn a[disabled] {
  border: none;
}

.cq-btn a[disabled]:hover {
  background-image: none;
}

.cq-btn .cq-btn__content-action-primary {
  background-color: $marianne-blue;
  text-transform: uppercase;
}

.cq-btn .cq-btn__content-action-secondary {
  background-color: var(--w-bf500);
  color: $marianne-blue;
  border: 0.1em solid $marianne-blue;
}

// .cq-btn .cq-btn__content-disabled,
// .cq-btn a .cq-btn__content-disabled:hover {
//   background-color: $g400;
//   color: $g750;
//   border: none;
//   cursor: default;
// }
