@import '../../../sass/gouvfr';
@import '../../../sass/variables';

.cq-btn .cq-btn__uppercase {
  text-transform: uppercase;
}

.cq-btn .cq-btn__action-primary {
  background-color: $marianne-blue;
}

.cq-btn .cq-btn__action-secondary {
  background-color: var(--w-bf500);
  color: $marianne-blue;
  border: 0.1em solid $marianne-blue;
}

.cq-btn .cq-btn__label-size-small {
  font-size: $small;
}
