@import '../variables';

// Helpers created by CapQualif Team

.cq-helpers-full-width {
  width: 100%;
}

.cq-helpers-no-linebreak {
  white-space: nowrap;
}

.cq-helpers-display-inline {
  display: inline;
}

.cq-helpers-with-footer {
  // We have to add this padding
  // so elements at the bottom of the component won't be hidden by footer
  padding-bottom: $footerHeight + 6vh;
}

.cq-helpers__dynamic-text {
  color: $marianne-blue;
}

.cq-helpers-clickable {
  cursor: pointer;
}

.cq-helpers-bordered-section {
  border-top: $border;
}

.cq-helpers-success {
  color: $function-green-success-light;
}

.cq-helpers-failure {
  color: $function-red-error;
}
