html,
body,
* {
  margin: 0;
  padding: 0;
}



a,
a:active,
a:visited {
  color: #ffffffe5;
  text-decoration: none;
}

section {
  padding: 1.8em 4em;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.card {
  background-color: #ffffff;
  padding: 2em;
  color: #333333;
  margin: 1em;
}
