@import './src/sass/_variables';

.cq-section-header{
  height:147px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  
}

.cq-upper{
  text-transform:uppercase;
}

.cq-content{
  height:100vh;
  background-color:g200;
}


//SIDEMENU

.rf-col-3 {
  background-color:transparent;
}

.cq-sidemenu {
  margin-top:60px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:bottom;
  

  .rf-nav__item--active.cq-nav__vertical-item > .rf-link {
    box-shadow: inset 2px 0 0 0 $marianne-blue;
  }
}


// CONTENT
.cq-main-content {
  margin-top:60px;
}

.cq-section__title{
  .cq-section__overtitle{
    font-weight:$regular;
    font-size:$normal;
  }
}




