@import './src/sass/_variables';

.rf-col-3 {
  background-color: transparent;
}

.cq-sidemenu {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: bottom;

  // .rf-nav__item--active.cq-nav__vertical-item > .rf-link {
  //   box-shadow: inset 20px 0 0 0 $marianne-blue;
  // }
}
