@import '../../../../sass/variables';

.cq-item {
  cursor: pointer;
  .cq-item__header {
    width: 100%;
    background-color: $white;
    padding: 20px;
    .cq-item__right-header {
      display: flex;
      align-items: center;
      .cq-item__status-label {
        font-weight: $bold;
        color: $marianne-blue;
      }
    }
  }
}

.cq-item__lined-element {
  border-left: 1.4px solid $marianne-blue;
}

.cq-item__attribute {
  color: $g500;
  font-size: $normal;
}

.children-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
