// style/font.scss

// Marianne ////////////////////////////////////////
// Light
@font-face {
    font-family: "Marianne";
    src:url('./font/marianne/Marianne-Light.woff');
    font-weight:300;
    font-style:normal;
  }
  @font-face {
    font-family: "Marianne";
    src:url('./font/marianne/Marianne-Light_Italic.woff');
    font-weight:300;
    font-style:Italic;
  }
  // Regular
  @font-face {
    font-family: "Marianne";
    src:url('./font/marianne/Marianne-Regular.woff');
    font-weight:400;
    font-style:normal;
  }
  
  @font-face {
    font-family: "Marianne";
    src:url('./font/marianne/Marianne-Regular_Italic.woff');
    font-weight:400;
    font-style:Italic;
  }
  // Bold
  @font-face {
    font-family: "Marianne";
    src:url('./font/marianne/Marianne-Bold.woff');
    font-weight:700;
    font-style:normal;
  }
  @font-face {
    font-family: "Marianne";
    src:url('./font/marianne/Marianne-Bold_Italic.woff');
    font-weight:700;
    font-style:Italic;
  }
  // Extra-Bold
  @font-face {
    font-family: "Marianne";
    src:url('./font/marianne/Marianne-ExtraBold.woff');
    font-weight:800;
    font-style:normal;
  }
  @font-face {
    font-family: "Marianne";
    src:url('./font/marianne/Marianne-ExtraBold_Italic.woff');
    font-weight:800;
    font-style:Italic;
  }
  
  
  
  