// style/variable.scss

// FONT ////////////////////////////////////
$marianne: Marianne, arial, sans-serif;


// FONT-WEIGHT /////////////////////////////
$light:300;
$regular:400;
$medium:500;
$semiBold:600;
$bold:600;
$extraBold:700;

// FONT-SIZES (TBD) ////////////////////////
$baseFontSize:16px;

$title:2em; //32px
$medium:1em; // 16px
$normal:0.875em; // 14px
$small:.75em; //12px
$verySmall:.625em; //10px




// COLORS ///////////////////////////////
// DIG GREY
$g800:#1E1E1E;
$g750:#383838;
$g600:#6A6A6A;
$g500:#9C9C9C;
$g400:#CECECE;
$g300:#E7E7E7;
$g200:#F0F0F0;
$g100:#F8F8F8;
$gbeige:#F9F8F6;
// Marianne - white
$white:#FFF;
// Marianne - blue
$marianne-blue:#000091;
$marianne-blue__dark1:#000074;
$marianne-blue__light1:#7F7FC8;
$marianne-blue__light2:#BFBFE3;
$marianne-blue__light3:#E5E5F4;
$marianne-blue__light4:#F2F2F9;
//Marianne -red
$marianne-red:#E1000F;
//Functional
$function-green-sucess:#008941;
$function-blue-info:#0762C8;
$function-red-error:#E10600;

// CORNER : 
$round-tile:5px;
$round-element:4px;



