@import '../../../../../sass/variables';

#cq-item-details.hidden {
  display: none;
}

#cq-item-details sub {
  font-size: 0.8rem;
  line-height: 0.2rem;
}

#cq-item-details .cq-item-details__small-text {
  font-size: 0.8rem;
}

#cq-item-details .cq-item-details-container {
  display: flex;
  flex-direction: column;
}

#cq-item-details .isolated-details-container {
  border-top: 0.08em solid $marianne-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
