@import '../../../sass/variables';

#breadcrumb {
  //   color: $marianne-blue;
  width: 100%;
}

#breadcrumb .rf-link {
  color: $g800;
}

#breadcrumb ul {
  width: 50%;
  display: flex;
  justify-content: center;
}

#breadcrumb li {
  display: inline;
}

#breadcrumb li svg {
  width: 5em;
  transform: translateY(-0.1em);
  margin: 0 1em;
}
