@import './src/sass/_variables';

.cq-item__name-container {
  margin-left: 10px;
  padding-left: 20px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    $lineHeight: 36px;
    height: $lineHeight;
    top: calc(50% - #{$lineHeight}/ 2);
    left: 0px;
    border-left: 1px solid $marianne-blue;
  }
  .cq-item__main-attributes {
    color: $g500;
  }
  .cq-item__name {
    font-size: $sizeH2;
    font-weight: $bold;
  }
}
