@import '../../../../sass/variables';

.cq-item {
  border: $border;
  box-shadow: $boxShadow;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 95%;
  background-color: $white;
}

.status-container,
.expand-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
