@import '../../../../sass/variables';

.cq-item {
  border: 1px solid $g300;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  background-color: $white;
}
.infos-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.document-container,
.status-container,
.expand-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dates-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
