@import '../../../../../sass/variables';

.cq-item-status-container {
  display: flex;
  align-items: center;
}

.cq-item-status-container-text {
  font-size: $small;
  line-height: normal;
  text-align: right;
}

.cq-item-status-container-icon {
  font-size: $sizeH2;
}
