@import '../../../../sass/variables';

#section-footer {
  background-color: $white;
  border-top: 0.08em solid $marianne-blue;
  position: fixed;
  left: 0;
  bottom: 0;
  height: $footerHeight;
  width: 100vw;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#section-footer a {
  text-decoration: none;
  cursor: pointer;
}

#section-footer .bold {
  font-weight: $semiBold;
}

#section-footer .actions-wrapper {
  display: inline;
}
