@import '../../../../../../sass/variables';

.cq-item__detail-container {
  display: flex;
  flex-direction: column;
}

.cq-item__detail-flagged {
  background-color: $g200;
  width: fit-content;
}

.cq-item__detail-flagged,
.cq-item__detail-not-flagged {
  font-size: $normal;
}

.cq-item__detail-not-flagged {
  width: 80%;
}

.warning {
  color: $warning;
  font-weight: $semiBold;
}
