@import './src/sass/_variables';

#confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $marianne-blue;
  text-align: center;
  padding-bottom: $footerHeight + 5vh;
}

#confirmation h3 {
  color: $marianne-blue;
  margin: 5em 0 3em 0;
}

#confirmation #titre-container {
  width: 60%;
}
